@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@700&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@700&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-abjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a :visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  background-color: #000000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
}
.header .container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo img {
  height: 45px;
}
.header .container .nav {
  min-width: 50%;
}
.header .container .nav .menu {
  display: flex;
}
.header .container .nav .menu li {
  min-width: 80px;
  width: 20%;
  text-align: center;
  text-transform: capitalize;
}
.header .container .nav .menu li a {
  color: #FFFFFF;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.side-menu[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
}

@media (max-width: 600px) {
  .header .container {
    display: block;
  }
  .header .container .hamburger {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .header .container .hamburger img {
    width: 45px;
  }
  .header .container .hamburger :nth-child(2) {
    display: none;
  }
  .header .container .nav {
    max-width: 1200px;
    margin: 15px -15px 0px -15px;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000;
    overflow: hidden;
    max-height: 0;
  }
  .header .container .nav .menu {
    flex-direction: column;
    align-items: center;
  }
  .header .container .nav .menu li {
    margin: 25px 0 25px 0;
  }
  .header .side-menu:checked ~ label :nth-child(1) {
    display: none;
  }
  .header .side-menu:checked ~ label :nth-child(2) {
    display: block;
  }
  .header .side-menu:checked ~ nav {
    max-height: 100%;
  }
}
.main {
  background: #F8EFEF url(../img/main/group.jpg) center/100% 100% no-repeat;
}
.main .container {
  padding: 300px 15px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .container .main__body {
  display: flex;
  flex-direction: column;
}
.main .container .main__body .body__logo {
  margin: 0px 0px 45px 0px;
}
.main .container .main__body .body__logo .logo__one {
  font-family: "Raleway";
  font-weight: 700;
  color: #ffffff;
  font-size: 55px;
}
.main .container .main__body .body__logo .logo__two {
  font-family: "Raleway";
  font-weight: 700;
  color: #EC7979;
  font-size: 55px;
}
.main .container .main__body h1 {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  padding: 43px 0px;
  margin: 0 0 42px 0;
}
.main .container .main__body h1::after {
  content: "";
  position: absolute;
  width: 170px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #ffffff;
}
.main .container .main__body p {
  width: 270px;
  margin: 0px 0px 42px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.main .container .main__body .body__download a {
  display: inline-block;
  width: 40%;
  min-width: 100px;
  max-width: 350px;
  border: 3px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 58px;
  text-transform: capitalize;
  text-align: center;
}
.main .container .main__form-invite {
  min-width: 40%;
  max-width: 470px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 300px;
}
.main .container .main__form-invite p {
  padding: 28px 0px 0px 0px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.main .container .main__form-invite p span {
  color: #EC7979;
}
.main .container .main__form-invite .person-info {
  padding: 15% 10%;
}
.main .container .main__form-invite .person-info input {
  padding: 0px 0px 18px 0px;
  width: 100%;
  border-bottom: 1px solid #BDBDBD;
  font-size: 18px;
  line-height: 20px;
}
.main .container .main__form-invite .person-info input:nth-child(2) {
  margin: 33px 0;
}
.main .container .main__form-invite .buttom-invite {
  width: 100%;
}
.main .container .main__form-invite .buttom-invite a {
  width: 100%;
  height: 60px;
  background: #EC7979;
  border-radius: 0px 0px 10px 10px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .main {
    padding: 80px 0 50px 0;
  }
  .main .container {
    padding: 100px 20px 20px 20px;
    flex-direction: column;
  }
  .main .container .main__body {
    width: 100%;
    align-items: center;
  }
  .main .container .main__body .body__logo {
    display: none;
  }
  .main .container .main__body h1 {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }
  .main .container .main__body h1::after {
    content: "";
    width: 134px;
    left: 50%;
    background: #ffffff;
    margin: 0 0 0 -67px;
  }
  .main .container .main__body p {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
  .main .container .main__body .body__download {
    width: 100%;
  }
  .main .container .main__body .body__download a {
    display: inline-block;
    width: 100%;
    max-width: 600px;
    font-size: 18px;
    line-height: 44px;
  }
  .main .container .main__form-invite {
    margin: 40px 0 0 0;
    width: 100%;
  }
}
.media {
  padding: 15px;
  background: #F8EFEF;
}
.media .container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.media .container .media__title {
  width: 50%;
}
.media .container .media__title h2 {
  padding: 14px 0px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
}
.media .container .media__title p {
  margin: 18px 0px 18px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
}
.media .container .media__social {
  width: 50%;
  display: flex;
}
.media .container .media__social img {
  padding: 15px;
  width: 15%;
}

@media (max-width: 992px) {
  .media .container .media__title h2 {
    padding: 10px 0px;
    font-size: 18px;
    line-height: 25px;
  }
  .media .container .media__title p {
    margin: 13px 0px 13px 0px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 600px) {
  .media .container {
    flex-direction: column;
    align-items: center;
  }
  .media .container .media__title {
    width: 100%;
  }
  .media .container .media__title h2 {
    margin: 30px 0px 0px 0px;
    text-align: center;
    padding: 10px 0px;
    font-size: 18px;
    line-height: 25px;
  }
  .media .container .media__title p {
    text-align: center;
    margin: 13px 0px 13px 0px;
    font-size: 14px;
    line-height: 16px;
  }
  .media .container .media__social {
    margin: 19px 0px 44px 0px;
    width: 100%;
  }
}
.section-tabs .container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px;
}
.section-tabs .container .tabs {
  display: flex;
  flex-wrap: wrap;
}
.section-tabs .container .tabs label {
  border-radius: 10px 10px 0 0;
  display: block;
  padding: 20px 5%;
  text-transform: uppercase;
  background: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
}
.section-tabs .container .tabs .tab {
  order: 99;
  border: 1px solid #C6CBCD;
  width: 100%;
  display: none;
  padding: 1px 1px 1px 100px;
  background: #fff;
}
.section-tabs .container .tabs .tab .tab__body {
  display: flex;
}
.section-tabs .container .tabs .tab .tab__body .body__info {
  padding: 0 15px 15px 0;
}
.section-tabs .container .tabs .tab .tab__body .body__info h2 {
  padding: 42px 0px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}
.section-tabs .container .tabs .tab .tab__body .body__info p {
  padding: 27px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
}
.section-tabs .container .tabs .tab .tab__body .body__info .button-download p {
  display: inline-block;
  background: #EC7979;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  padding: 3% 12%;
}
.section-tabs .container .tabs .tab .tab__body .body__info .button-download p a {
  color: #FFFFFF;
}
.section-tabs .container .tabs .tab .tab__body .body__photo {
  width: 100%;
  min-width: 40%;
}
.section-tabs .container .tabs .tab .tab__body .body__photo img {
  max-width: 470px;
  width: 100%;
}
.section-tabs .container .tabs input[type=radio] {
  display: none;
}
.section-tabs .container .tabs input[type=radio]:checked + label {
  background: #fff;
  border: 1px solid #C6CBCD;
  position: relative;
  bottom: -1px;
  border-bottom: none;
}
.section-tabs .container .tabs input[type=radio]:checked + label + .tab {
  display: block;
}

@media (max-width: 600px) {
  .section-tabs .container .tabs .tab {
    padding: 15px;
  }
  .section-tabs .container .tabs .tab .tab__body {
    display: flex;
  }
  .section-tabs .container .tabs .tab .tab__body .body__info {
    padding: 0px;
  }
  .section-tabs .container .tabs .tab .tab__body .body__info h2 {
    padding: 42px 0px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
  }
  .section-tabs .container .tabs .tab .tab__body .body__info p {
    text-align: center;
    font-size: 13px;
    line-height: 15px;
  }
  .section-tabs .container .tabs .tab .tab__body .body__info .button-download {
    padding: 0 15px;
  }
  .section-tabs .container .tabs .tab .tab__body .body__info .button-download p {
    width: 100%;
  }
  .section-tabs .container .tabs .tab .tab__body .body__photo {
    display: none;
  }
}
.section2 {
  max-width: 1200px;
  margin: 0 auto;
}
.section2 .container {
  max-width: 1170px;
  margin: 0 auto;
}
.section2 .container .section2__header {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.section2 .container .section2__header .awesome {
  padding: 54px 0px;
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
}
.section2 .container .section2__header .border {
  width: 170px;
  border-bottom: 1px solid #EC7979;
}
.section2 .container .section2__header .border {
  width: 170px;
  border-bottom: 1px solid #EC7979;
}
.section2 .container .section2__header .header__text {
  padding: 40px 0;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
}
.section2 .container .section2__main {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}
.section2 .container .section2__main .title__wraper {
  min-width: 288px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 33%;
  padding: 39px 0px;
}
.section2 .container .section2__main .title__wraper .img__wrapper {
  border: 1px solid #EC7979;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2 .container .section2__main .title__wraper .img__wrapper img {
  width: 60px;
  height: 60px;
}
.section2 .container .section2__main .title__wraper h4 {
  padding: 33.5px 0px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}
.section2 .container .section2__main .title__wraper p {
  padding: 18px 20px 0px 20px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.prices {
  background: #F5F5F5;
  padding: 0px 0px 50px 0px;
}
.prices .container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 15px;
}
.prices .container .prices-section__titles {
  display: flex;
  flex-direction: column;
}
.prices .container .prices-section__titles h2 {
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding: 54px 0px;
}
.prices .container .prices-section__titles h2::after {
  content: "";
  position: absolute;
  width: 170px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background: #EC7979;
  margin: 0 0 0 -85px;
}
.prices .container .prices-section__titles p {
  margin: 40px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878B;
}
.prices .container .prices-section__items {
  display: flex;
  flex: 1 1 250px;
  justify-content: space-between;
}
.prices .container .prices-section__items .prises-section__item {
  width: 32%;
}
.prices .container .prices-section__items .prises-section__item .item__property li:nth-child(1) {
  background: #333333;
  font-family: "Raleway";
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 60px;
  text-transform: capitalize;
}
.prices .container .prices-section__items .prises-section__item .item__property li:nth-child(2) {
  background: #333333;
  font-family: "Raleway";
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 100px;
  border: 2px solid #F5F5F5;
  border-left: none;
  border-right: none;
}
.prices .container .prices-section__items .prises-section__item .item__property li:nth-child(3) {
  background: #333333;
  font-family: "Raleway";
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.5);
}
.prices .container .prices-section__items .prises-section__item .item__property li {
  border-bottom: 1px solid #F5F5F5;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  text-transform: capitalize;
  color: #86878B;
  background: #ffffff;
}
.prices .container .prices-section__items .prises-section__item:nth-child(2) {
  box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
  margin: 0px 0px 20px 0px;
}
.prices .container .prices-section__items .prises-section__item:nth-child(1) {
  margin: 20px 0px 0px 0px;
}
.prices .container .prices-section__items .prises-section__item:nth-child(3) {
  margin: 20px 0px 0px 0px;
}

@media (max-width: 992px) {
  .prices .container .prices-section__titles h2 {
    font-size: 24px;
    line-height: 28px;
    padding: 46px 0px;
  }
  .prices .container .prices-section__titles h2::after {
    content: "";
    width: 143px;
    left: 50%;
    background: #EC7979;
    margin: 0 0 0 -71.5px;
  }
  .prices .container .prices-section__titles p {
    margin: 32px 0px;
    font-size: 14px;
    line-height: 16px;
  }
  .prices .container .prices-section__items .prises-section__item {
    max-width: 32%;
  }
  .prices .container .prices-section__items .prises-section__item .item__name {
    line-height: 53px;
  }
  .prices .container .prices-section__items .prises-section__item .item__price {
    line-height: 88.5px;
  }
  .prices .container .prices-section__items .prises-section__item .item__description {
    line-height: 44px;
  }
  .prices .container .prices-section__items .prises-section__item .item__property li {
    line-height: 44px;
  }
  .prices .container .prices-section__items .prises-section__item:nth-child(1) {
    margin: 12px 0px 0px 0px;
  }
  .prices .container .prices-section__items .prises-section__item:nth-child(3) {
    margin: 12px 0px 0px 0px;
  }
}
@media (max-width: 600px) {
  .prices .container .prices-section__titles h2 {
    font-size: 24px;
    line-height: 28px;
    padding: 45px 0px;
  }
  .prices .container .prices-section__titles h2::after {
    content: "";
    position: absolute;
    width: 134px;
    margin: 0 0 0 -67px;
  }
  .prices .container .prices-section__titles p {
    margin: 24px 0px;
    font-size: 14px;
    line-height: 16px;
  }
  .prices .container .prices-section__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prices .container .prices-section__items .prises-section__item {
    min-width: 100%;
  }
  .prices .container .prices-section__items .prises-section__item .item__name {
    font-size: 18px;
    line-height: 47px;
    text-transform: capitalize;
  }
  .prices .container .prices-section__items .prises-section__item .item__price {
    font-size: 24px;
    line-height: 78px;
    border: 2px solid #F5F5F5;
  }
  .prices .container .prices-section__items .prises-section__item .item__description {
    font-size: 14px;
    line-height: 39px;
  }
  .prices .container .prices-section__items .prises-section__item .item__property li {
    font-size: 14px;
    line-height: 39px;
  }
  .prices .container .prices-section__items .prises-section__item:nth-child(2) {
    box-shadow: none;
  }
  .prices .container .prices-section__items .prises-section__item:nth-child(1) {
    margin: 0px 0px 0px 0px;
  }
  .prices .container .prices-section__items .prises-section__item:nth-child(3) {
    margin: 0px 0px 0px 0px;
  }
}
.saying {
  padding: 0px 0px 50px 0px;
}
.saying .container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 15px;
}
.saying .container .saying__titles {
  display: flex;
  flex-direction: column;
}
.saying .container .saying__titles h2 {
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding: 54px 0px;
}
.saying .container .saying__titles h2::after {
  content: "";
  position: absolute;
  width: 170px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background: #EC7979;
  margin: 0 0 0 -85px;
}
.saying .container .saying__titles p {
  margin: 40px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878B;
}

.saying__message {
  display: flex;
}
.saying__message .box-info {
  width: 33.333%;
  padding: 15px;
}
.saying__message .box-info .message__text-box p {
  display: inline-block;
  padding: 15px 37px;
  border-radius: 10px;
  background: #E2E2E2;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
  text-align: center;
}
.saying__message .box-info .message__text-box .triangle {
  margin: 0 20%;
  width: 10px;
  border: 20px solid transparent;
  order-top: 20px solid #E2E2E2;
}
.saying__message .box-info .message__person-info {
  padding: 45px 0;
  display: flex;
}
.saying__message .box-info .message__person-info .person-info__photo {
  width: 25%;
}
.saying__message .box-info .message__person-info .person-info__photo img {
  max-width: 70px;
  width: 100%;
}
.saying__message .box-info .message__person-info .person-info__person-name .name {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
}
.saying__message .box-info .message__person-info .person-info__person-name .job-title {
  padding-top: 15px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
}

.design {
  background: url(../img/desine/img2.jpg) 0 0/100% 100% no-repeat;
  padding: 0px 0px 50px 0px;
}
.design .container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 50px;
}
.design .container .design__titles {
  display: flex;
  flex-direction: column;
}
.design .container .design__titles h2 {
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  padding: 54px 0px;
}
.design .container .design__titles h2::after {
  content: "";
  position: absolute;
  width: 170px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background: #ffffff;
  margin: 0 0 0 -85px;
}
.design .container .design__titles p {
  margin: 40px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}
.design .container .design__titles .design__download {
  margin-top: 33px;
  display: flex;
  justify-content: center;
}
.design .container .design__titles .design__download a {
  display: inline-block;
  width: 40%;
  min-width: 100px;
  max-width: 350px;
  border: 3px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 58px;
  text-transform: capitalize;
  text-align: center;
}

@media (max-width: 600px) {
  .design {
    background: url(../img/desine/img2.jpg) 0 0/auto 100% no-repeat;
    padding: 0px 15px 58px;
  }
  .design .container {
    padding: 0px;
  }
  .design .container .design__titles {
    display: flex;
    flex-direction: column;
  }
  .design .container .design__titles h2 {
    font-size: 24px;
    line-height: 28px;
    padding: 46px 0px;
  }
  .design .container .design__titles h2::after {
    content: "";
    position: absolute;
    width: 120px;
    bottom: 0;
    height: 1px;
    left: 50%;
    background: #ffffff;
    margin: 0 0 0 -60px;
  }
  .design .container .design__titles p {
    margin: 16px 0px;
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
  }
  .design .container .design__titles .design__download {
    width: 100%;
    margin-top: 33px;
    display: flex;
    justify-content: center;
  }
  .design .container .design__titles .design__download a {
    display: inline-block;
    width: 100%;
    min-width: 100px;
    max-width: 350px;
    border: 3px solid #ffffff;
    text-decoration: none;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 18px;
    line-height: 58px;
    text-transform: capitalize;
    text-align: center;
  }
}
.contact {
  padding: 0px 0px 0px 0px;
}
.contact .container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 15px;
}
.contact .container .contact__titles {
  display: flex;
  flex-direction: column;
}
.contact .container .contact__titles h2 {
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding: 54px 0px;
}
.contact .container .contact__titles h2::after {
  content: "";
  position: absolute;
  width: 170px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background: #EC7979;
  margin: 0 0 0 -85px;
}
.contact .container .contact__titles p {
  margin: 40px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878B;
}
.contact .container .contact__form .form__content {
  display: flex;
}
.contact .container .contact__form .form__content .content__left {
  padding: 20px 5px 20px 0;
  width: 50%;
}
.contact .container .contact__form .form__content .content__left input {
  border-bottom: 1px solid #86878B;
  padding: 10px 0px;
  width: 90%;
}
.contact .container .contact__form .form__content .content__left :nth-child(2) {
  margin: 40px 0;
}
.contact .container .contact__form .form__content .content__right {
  width: 50%;
  padding: 20px 0px 20px 5px;
}
.contact .container .contact__form .form__content .content__right textarea {
  display: inline-block;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 10px 0px 0px 0px;
  border-bottom: 1px solid #86878B;
  text-decoration: none;
}
.contact .container .contact__form .buttom-invite {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}
.contact .container .contact__form .buttom-invite a {
  text-decoration: none;
  display: inline-block;
  width: 25%;
  text-align: center;
  background: #EC7979;
  color: #ffffff;
  line-height: 58px;
}

@media (max-width: 600px) {
  .contact {
    padding: 0px 0px 0px 0px;
  }
  .contact .container {
    margin: 0px auto;
    max-width: 1200px;
    padding: 15px;
  }
  .contact .container .contact__titles {
    display: flex;
    flex-direction: column;
  }
  .contact .container .contact__titles h2 {
    font-family: "Raleway";
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    padding: 54px 0px;
  }
  .contact .container .contact__titles h2::after {
    content: "";
    position: absolute;
    width: 170px;
    bottom: 0;
    height: 1px;
    left: 50%;
    background: #EC7979;
    margin: 0 0 0 -85px;
  }
  .contact .container .contact__titles p {
    margin: 40px 0px;
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
  }
  .contact .container .contact__form .form__content {
    display: flex;
    flex-direction: column;
  }
  .contact .container .contact__form .form__content .content__left {
    padding: 30px 0 0 0;
    width: 100%;
  }
  .contact .container .contact__form .form__content .content__left input {
    padding: 0px;
    width: 100%;
    margin: 0 0 40px 0;
  }
  .contact .container .contact__form .form__content .content__left :nth-child(2) {
    margin: 0 0 40px 0;
  }
  .contact .container .contact__form .form__content .content__right {
    width: 100%;
    padding: 0;
  }
  .contact .container .contact__form .form__content .content__right textarea {
    display: inline-block;
    width: 100%;
    height: 200px;
    resize: none;
    padding: 10px 0px 0px 0px;
    border-bottom: 1px solid #86878B;
    text-decoration: none;
  }
  .contact .container .contact__form .buttom-invite {
    display: flex;
    justify-content: center;
    padding: 50px 0;
  }
  .contact .container .contact__form .buttom-invite a {
    width: 100%;
  }
}
.footer {
  background: #000000;
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}
.footer .container .social {
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer .container .social .footer-social {
  margin: 25%;
  max-width: 75px;
  width: 50%;
}

.text-сop {
  text-align: center;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 40px;
}