@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@700&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@700&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-abjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a :visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  background: #000;
}
.header .container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header__logo {
  margin: 0 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo .logo-left {
  color: #ffffff;
  font-size: 40px;
  line-height: 75px;
}
.header__logo .logo-right {
  color: #EC7979;
  font-size: 40px;
  line-height: 75px;
}

#burger, .vvv {
  display: none;
}

.menu {
  max-width: 570px;
}
.menu .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.menu .list > li {
  text-align: center;
  width: 20%;
  min-width: 100px;
}
.menu .list > li > a {
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 75px;
}

@media (max-width: 600px) {
  .header__logo {
    position: absolute;
    left: 0;
  }

  #burger, [for=burger] {
    display: none;
  }

  .vvv {
    width: 100%;
    text-align: right;
  }

  .header__burger-menu {
    width: 100%;
    padding: 15px;
  }
  .header__burger-menu .menu {
    width: 100%;
    display: none;
  }
  .header__burger-menu .menu .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #000;
  }
  .header__burger-menu .menu .list > li > a {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    padding: 15px 0 25px 0;
    color: #ffffff;
    font-family: "Open Sans";
  }
  .header__burger-menu [for=burger] {
    display: inline-block;
    font-size: 45px;
    color: #ffffff;
  }

  #burger:checked + .vvv + .menu {
    display: block;
  }
  #burger:checked + .vvv + .menu .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #burger:checked + .vvv + .menu .list > li {
    color: #ffffff;
  }
}
.main {
  background: url(../../img/main/image.png) 0 0/100% 100% no-repeat;
}
@media (width: 600px) {
  .main .main {
    background: url(../../img/main/image.png) 0 0/100% auto no-repeat;
  }
}
.main .container {
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main .container .main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  margin: 200px 0 0 0;
}
.main .container .main__body .body__logo {
  margin: 0px 0px 45px 0px;
}
.main .container .main__body .body__logo .logo__one {
  font-family: "Raleway";
  font-weight: 700;
  color: #ffffff;
  font-size: 55px;
}
.main .container .main__body .body__logo .logo__two {
  font-family: "Raleway";
  font-weight: 700;
  color: #EC7979;
  font-size: 55px;
}
.main .container .main__body > h1 {
  font-family: "Raleway";
  color: #ffffff;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  margin: 0px 0px 45px 0px;
  text-transform: uppercase;
  text-align: left;
  padding: 0px 0px 0px 0px;
}
.main .container .main__body .border {
  width: 170px;
  border-bottom: 1px solid #ffffff;
  margin: 0px 0px 42px 0px;
}
.main .container .main__body > p {
  width: 270px;
  margin: 0px 0px 42px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.main .container .main__body .body__download {
  margin: 0 0 200px 0;
}
.main .container .main__body .body__download > a {
  display: inline-block;
  width: 40%;
  min-width: 100px;
  max-width: 350px;
  border: 3px solid #ffffff;
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 58px;
  text-transform: capitalize;
  text-align: center;
}
.main .container .main__form-invite {
  max-width: 470px;
  background: #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}
.main .container .main__form-invite > p {
  padding: 28px 0px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.main .container .main__form-invite > p > span {
  color: #EC7979;
}
@media (width: 625px) {
  .main .container .main__form-invite .container {
    padding: 100px 20px 20px 20px;
  }
  .main .container .main__form-invite .main__body {
    margin: 0 0 0 0;
  }
  .main .container .main__form-invite .main__form-invite {
    margin: 50px 0 0 0;
  }
}
.main .container .main__form-invite .person-info {
  padding: 10px 50px 75px 50px;
}
.main .container .main__form-invite .person-info > input {
  margin: 0 0 33px 0;
  width: 100%;
  border-bottom: 1px solid #BDBDBD;
  font-size: 18px;
  line-height: 18px;
  padding: 20px 0 20px 0;
}
.main .container .main__form-invite .buttom-invite {
  width: 100%;
}
.main .container .main__form-invite .buttom-invite > a {
  display: inline-block;
  width: 100%;
  line-height: 60px;
  background: #EC7979;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
  line-height: 60px;
  color: #FFFFFF;
}

.section-tabs {
  max-width: 1200px;
  margin: 0 auto;
}
.section-tabs .container {
  max-width: 1170px;
  margin: 0 auto;
}

.tabs {
  font-size: 0;
}
.tabs > input[type=radio] {
  display: none;
}
.tabs input[type=radio]:checked + label {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  border-bottom: none;
}
.tabs .content {
  display: none;
  border: 1px solid #e0e0e0;
  font-size: 16px;
}
.tabs label {
  display: inline-block;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  width: 15%;
  min-width: 60px;
  max-width: 200px;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 40px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
}
.tabs label:not(:first-of-type) {
  border-left: none;
}
.tabs .content .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}
.tabs .content .box .box__content {
  padding: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}
.tabs .content .box .box__content .title > p {
  max-width: 570px;
  margin: 0 0 0 90px;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  padding: 41px 10px;
}
.tabs .content .box .box__content .text > p {
  margin: 0 0 0 90px;
  padding: 20px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
}
.tabs .content .box .box__content .button-download {
  margin: 0 0 20px 90px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.tabs .content .box .box__content .button-download > a {
  width: 40%;
  line-height: 50px;
  border: 1px solid;
  text-align: center;
  background: #EC7979;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans";
}
.tabs .content .box .box__img {
  width: 40%;
}
.tabs .content .box .box__img img {
  width: 100%;
  max-width: 470px;
}

#tab-btn-1:checked ~ #content-1,
#tab-btn-2:checked ~ #content-2,
#tab-btn-3:checked ~ #content-3 {
  display: block;
}

@media (max-width: 600px) {
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box .box__content {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
  }
  .box .box__content .title > p {
    max-width: 100%;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding: 44px 40px;
  }
  .box .box__content .text > p {
    text-align: center;
    margin: 0;
    padding: 29px 40px;
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
  }
  .box .box__content .button-download {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box .box__img {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box .box__img img {
    display: none;
  }
}
.section2 {
  max-width: 1200px;
  margin: 0 auto;
}
.section2 .container {
  max-width: 1170px;
  margin: 0 auto;
}
.section2 .container .section2__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section2 .container .section2__header .awesome {
  padding: 54px 0px;
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
}
.section2 .container .section2__header .border {
  width: 170px;
  border-bottom: 1px solid #EC7979;
}
.section2 .container .section2__header .border {
  width: 170px;
  border-bottom: 1px solid #EC7979;
}
.section2 .container .section2__header .header__text {
  padding: 40px 0;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
}
.section2 .container .section2__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section2 .container .section2__main .title__wraper {
  min-width: 288px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  padding: 39px 0px;
}
.section2 .container .section2__main .title__wraper .img__wrapper {
  border: 1px solid #EC7979;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section2 .container .section2__main .title__wraper .img__wrapper img {
  width: 60px;
  height: 60px;
}
.section2 .container .section2__main .title__wraper h4 {
  padding: 33.5px 0px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}
.section2 .container .section2__main .title__wraper p {
  padding: 18px 20px 0px 20px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.prices {
  background: #F5F5F5;
  padding: 50px 0px;
}
.prices .container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 15px;
}
.prices .container .prices-section__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.prices .container .prices-section__titles h2 {
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding: 54px 0px;
}
.prices .container .prices-section__titles h2::after {
  content: "";
  position: absolute;
  width: 170px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background: #EC7979;
  margin: 0 0 0 -85px;
}
.prices .container .prices-section__titles p {
  margin: 40px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878B;
}
.prices .container .prices-section__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prices .container .prices-section__items .prises-section__item {
  width: 32%;
}
.prices .container .prices-section__items .prises-section__item .item__property li:nth-child(1) {
  background: #333333;
  font-family: "Raleway";
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 60px;
  text-transform: capitalize;
}
.prices .container .prices-section__items .prises-section__item .item__property li:nth-child(2) {
  background: #333333;
  font-family: "Raleway";
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 100px;
  border: 2px solid #F5F5F5;
  border-left: none;
  border-right: none;
}
.prices .container .prices-section__items .prises-section__item .item__property li:nth-child(3) {
  background: #333333;
  font-family: "Raleway";
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.5);
}
.prices .container .prices-section__items .prises-section__item .item__property li {
  border-bottom: 1px solid #F5F5F5;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  text-transform: capitalize;
  color: #86878B;
  background: #ffffff;
}
.prices .container .prices-section__items .prises-section__item:nth-child(2) {
  -webkit-box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
          box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
  margin: 0px 0px 20px 0px;
}
.prices .container .prices-section__items .prises-section__item:nth-child(1) {
  margin: 20px 0px 0px 0px;
}
.prices .container .prices-section__items .prises-section__item:nth-child(3) {
  margin: 20px 0px 0px 0px;
}

@media (max-width: 992px) {
  .prices .container .prices-section__titles h2 {
    font-size: 24px;
    line-height: 28px;
    padding: 46px 0px;
  }
  .prices .container .prices-section__titles h2::after {
    content: "";
    width: 143px;
    left: 50%;
    background: #EC7979;
    margin: 0 0 0 -71.5px;
  }
  .prices .container .prices-section__titles p {
    margin: 32px 0px;
    font-size: 14px;
    line-height: 16px;
  }
  .prices .container .prices-section__items .prises-section__item {
    max-width: 32%;
  }
  .prices .container .prices-section__items .prises-section__item .item__name {
    line-height: 53px;
  }
  .prices .container .prices-section__items .prises-section__item .item__price {
    line-height: 88.5px;
  }
  .prices .container .prices-section__items .prises-section__item .item__description {
    line-height: 44px;
  }
  .prices .container .prices-section__items .prises-section__item .item__property li {
    line-height: 44px;
  }
  .prices .container .prices-section__items .prises-section__item:nth-child(1) {
    margin: 12px 0px 0px 0px;
  }
  .prices .container .prices-section__items .prises-section__item:nth-child(3) {
    margin: 12px 0px 0px 0px;
  }
}
@media (max-width: 600px) {
  .prices .container .prices-section__titles h2 {
    font-size: 24px;
    line-height: 28px;
    padding: 45px 0px;
  }
  .prices .container .prices-section__titles h2::after {
    content: "";
    position: absolute;
    width: 134px;
    margin: 0 0 0 -67px;
  }
  .prices .container .prices-section__titles p {
    margin: 24px 0px;
    font-size: 14px;
    line-height: 16px;
  }
  .prices .container .prices-section__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prices .container .prices-section__items .prises-section__item {
    min-width: 100%;
  }
  .prices .container .prices-section__items .prises-section__item .item__name {
    font-size: 18px;
    line-height: 47px;
    text-transform: capitalize;
  }
  .prices .container .prices-section__items .prises-section__item .item__price {
    font-size: 24px;
    line-height: 78px;
    border: 2px solid #F5F5F5;
  }
  .prices .container .prices-section__items .prises-section__item .item__description {
    font-size: 14px;
    line-height: 39px;
  }
  .prices .container .prices-section__items .prises-section__item .item__property li {
    font-size: 14px;
    line-height: 39px;
  }
  .prices .container .prices-section__items .prises-section__item:nth-child(2) {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .prices .container .prices-section__items .prises-section__item:nth-child(1) {
    margin: 0px 0px 0px 0px;
  }
  .prices .container .prices-section__items .prises-section__item:nth-child(3) {
    margin: 0px 0px 0px 0px;
  }
}
.footer {
  background: #000000;
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}
.footer .container .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .container .social .footer-social {
  margin: 35px;
  width: 50px;
  height: 50px;
}

.text-сop {
  text-align: center;
  color: #ffffff;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 40px;
}