@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@700&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans:wght@700&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-abjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a :visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  background-color: #000000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
}
.header .container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo img {
  height: 45px;
}
.header .container .nav {
  min-width: 50%;
}
.header .container .nav .menu {
  display: flex;
}
.header .container .nav .menu li {
  min-width: 80px;
  width: 20%;
  text-align: center;
  text-transform: capitalize;
}
.header .container .nav .menu li a {
  color: #FFFFFF;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.side-menu[type=checkbox] {
  display: none;
}

.hamburger {
  display: none;
}

@media (max-width: 600px) {
  .header .container {
    display: block;
  }
  .header .container .hamburger {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .header .container .hamburger img {
    width: 45px;
  }
  .header .container .hamburger :nth-child(2) {
    display: none;
  }
  .header .container .nav {
    max-width: 1200px;
    margin: 15px -15px 0px -15px;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000000;
    overflow: hidden;
    max-height: 0;
  }
  .header .container .nav .menu {
    flex-direction: column;
    align-items: center;
  }
  .header .container .nav .menu li {
    margin: 25px 0 25px 0;
  }
  .header .side-menu:checked ~ label :nth-child(1) {
    display: none;
  }
  .header .side-menu:checked ~ label :nth-child(2) {
    display: block;
  }
  .header .side-menu:checked ~ nav {
    max-height: 100%;
  }
}
.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  background: #F8EFEF url(../img/main/baner1.jpg) center/100% 100% no-repeat;
}
.main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.main .container {
  z-index: 3;
  max-width: 1200px;
  display: flex;
  padding: 15px;
  margin: 0 0 150px 0;
  justify-content: center;
  align-items: center;
}
.main .container .main__body {
  display: flex;
  flex-direction: column;
}
.main .container .main__body .body__logo {
  margin: 0px 0px 73px 0px;
}
.main .container .main__body .body__logo .logo__one {
  font-family: "Raleway";
  font-weight: 700;
  color: #ffffff;
  font-size: 55px;
}
.main .container .main__body .body__logo .logo__two {
  font-family: "Raleway";
  font-weight: 700;
  color: #EC7979;
  font-size: 55px;
}
.main .container .main__body h1 {
  font-family: "Raleway";
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  padding: 43px 0px;
  margin: 0 0 42px 0;
}
.main .container .main__body h1::after {
  content: "";
  position: absolute;
  width: 170px;
  bottom: 0;
  height: 2px;
  left: 0;
  background: #ffffff;
}
.main .container .main__body p {
  width: 270px;
  margin: 0px 0px 42px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.main .container .main__body .body__download {
  max-width: 270px;
  min-width: 150px;
  height: 58px;
  width: 40%;
  border: 3px solid #ffffff;
  background: rgba(0, 0, 0, 0);
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  cursor: pointer;
}
.main .container .main__form-invite {
  min-width: 40%;
  max-width: 470px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 300px;
}
.main .container .main__form-invite p {
  padding: 28px 0px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}
.main .container .main__form-invite p span {
  color: #EC7979;
}
.main .container .main__form-invite .person-info {
  padding: 15% 5%;
}
.main .container .main__form-invite .person-info input {
  padding: 0px 0px 18px 0px;
  width: 100%;
  border-bottom: 1px solid #BDBDBD;
  font-size: 18px;
  line-height: 20px;
}
.main .container .main__form-invite .person-info input:nth-child(2) {
  margin: 33px 0;
}
.main .container .main__form-invite .button-invite {
  width: 100%;
  height: 60px;
  background: #EC7979;
  border-radius: 0px 0px 10px 10px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

@media (max-width: 1024px) {
  .main {
    background: #F8EFEF url(../img/main/baner1.jpg) center/auto 100% no-repeat;
  }
  .main .container {
    margin: 0 0 130px 0;
  }
  .main .container .main__body .body__logo .logo__one {
    font-size: 41px;
  }
  .main .container .main__body .body__logo .logo__two {
    font-size: 41px;
  }
  .main .container .main__body h1 {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 42px 0;
    margin: 0 0 31px 0;
  }
  .main .container .main__body h1::after {
    content: "";
    width: 115px;
  }
  .main .container .main__body p {
    width: 180px;
    margin: 0px 0px 31px 0px;
    font-size: 18px;
    line-height: 21px;
  }
  .main .container .main__body .body__download {
    margin: 0px 0 33px 0;
    height: 50px;
  }
  .main .container .main__form-invite p {
    padding: 32.5px 0px;
    font-size: 18px;
    line-height: 25px;
  }
  .main .container .main__form-invite p span {
    color: #EC7979;
  }
  .main .container .main__form-invite .person-info {
    padding: 15% 5%;
  }
  .main .container .main__form-invite .person-info input {
    padding: 0px 0px 16px 0px;
    font-size: 14px;
    line-height: 19px;
  }
}
@media (max-width: 600px) {
  .main {
    height: auto;
    background: #F8EFEF url(../img/main/baner1.jpg) center/auto 100% no-repeat;
  }
  .main .container {
    margin: 140px 0 35px 0;
    flex-direction: column;
  }
  .main .container .main__body .body__logo {
    display: none;
  }
  .main .container .main__body h1 {
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    padding: 43px 0px;
    margin: 0 0 42px 0;
  }
  .main .container .main__body h1::after {
    content: "";
    left: 50%;
    width: 134px;
    transform: translate(-50%, 0);
  }
  .main .container .main__body p {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    width: 100%;
  }
  .main .container .main__body .body__download {
    width: 100%;
    height: 50px;
    margin: 0 auto 42px;
  }
  .main .container .main__form-invite {
    width: 100%;
  }
  .main .container .main__form-invite p {
    padding: 35.5px 0px;
    font-size: 14px;
    line-height: 19px;
  }
  .main .container .main__form-invite .person-info {
    padding: 0 5% 50px 5%;
  }
  .main .container .main__form-invite .person-info input {
    font-size: 14px;
    line-height: 19px;
  }
}
.media {
  padding: 15px;
  background: #F8EFEF;
}
.media .container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 15px;
  display: flex;
  justify-content: center;
}
.media .container .media__title {
  width: 50%;
}
.media .container .media__title h2 {
  padding: 14px 0px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
}
.media .container .media__title p {
  margin: 18px 0px 18px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #86878B;
}
.media .container .media__social {
  width: 50%;
  display: flex;
}
.media .container .media__social img {
  padding: 15px;
  width: 15%;
}

@media (max-width: 1024px) {
  .media .container .media__title h2 {
    padding: 10px 0px;
    font-size: 18px;
    line-height: 25px;
  }
  .media .container .media__title p {
    margin: 13px 0px 13px 0px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 600px) {
  .media .container {
    flex-direction: column;
    align-items: center;
  }
  .media .container .media__title {
    width: 100%;
  }
  .media .container .media__title h2 {
    margin: 30px 0px 0px 0px;
    text-align: center;
    padding: 10px 0px;
    font-size: 18px;
    line-height: 25px;
  }
  .media .container .media__title p {
    text-align: center;
    margin: 13px 0px 13px 0px;
    font-size: 14px;
    line-height: 16px;
  }
  .media .container .media__social {
    margin: 19px 0px 44px 0px;
    width: 100%;
  }
}
.section-tabs .container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px;
}
.section-tabs .container .tabs {
  display: flex;
  flex-wrap: wrap;
}
.section-tabs .container .tabs label {
  border-radius: 10px 10px 0 0;
  display: block;
  width: 15%;
  min-width: 80px;
  max-width: 300px;
  text-align: center;
  text-transform: uppercase;
  background: #fff;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 40px;
}
.section-tabs .container .tabs .tab {
  order: 99;
  border: 1px solid #cdc6ca;
  width: 100%;
  display: none;
  background: #fff;
}
.section-tabs .container .tabs .tab .tab__body {
  display: flex;
}
.section-tabs .container .tabs .tab .tab__body .body__info h2 {
  margin: 42px 30px 42px 100px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}
.section-tabs .container .tabs .tab .tab__body .body__info p {
  margin: 27px 30px 27px 100px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
}
.section-tabs .container .tabs .tab .tab__body .body__info .button-download {
  margin: 0 30px 54px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 370px;
  min-width: 200px;
  width: 30%;
  height: 58px;
  cursor: pointer;
  background: #EC7979;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
}
.section-tabs .container .tabs .tab .tab__body .body__photo {
  min-width: 40%;
}
.section-tabs .container .tabs .tab .tab__body .body__photo img {
  width: 100%;
}
.section-tabs .container .tabs input[type=radio] {
  display: none;
}
.section-tabs .container .tabs input[type=radio]:checked + label {
  background: #fff;
  border: 1px solid #C6CBCD;
  position: relative;
  bottom: -1px;
  border-bottom: none;
}
.section-tabs .container .tabs input[type=radio]:checked + label + .tab {
  display: block;
}

@media (max-width: 1024px) {
  .section-tabs .container .tabs .tab .tab__body .body__info h2 {
    margin: 28px 30px 28px 100px;
    font-size: 24px;
    line-height: 33px;
  }
  .section-tabs .container .tabs .tab .tab__body .body__info p {
    margin: 38px 30px 38px 100px;
    font-size: 14px;
    line-height: 16px;
  }
  .section-tabs .container .tabs .tab .tab__body .body__info .button-download {
    margin: 0 30px 50px 100px;
  }
}
@media (max-width: 600px) {
  .section-tabs .container .tabs .tab {
    order: 99;
    border: 1px solid #cdc6ca;
    width: 100%;
    display: none;
    background: #fff;
  }
  .section-tabs .container .tabs .tab .tab__body {
    display: flex;
  }
  .section-tabs .container .tabs .tab .tab__body .body__info h2 {
    margin: 31px 25px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
  .section-tabs .container .tabs .tab .tab__body .body__info p {
    margin: 29px 25px;
    text-align: center;
    font-size: 13px;
    line-height: 15px;
  }
  .section-tabs .container .tabs .tab .tab__body .body__info .button-download {
    margin: 30px auto;
  }
  .section-tabs .container .tabs .tab .tab__body .body__photo {
    display: none;
  }
}
.info .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
.info .container .info__header .awesome {
  padding: 39px 0 54px 0px;
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  position: relative;
  margin: 0 0 40px 0;
}
.info .container .info__header .awesome::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 170px;
  height: 1px;
  background: #EC7979;
  transform: translate(-50%, 0);
}
.info .container .info__header .header__text {
  text-align: center;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
}
.info .container .info__main {
  margin: 70px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.info .container .info__main:not(:last-child) {
  margin: 0 30px 0 0;
}
.info .container .info__main .info__wraper {
  width: 33%;
}
.info .container .info__main .info__wraper .img__wrapper {
  border: 1px solid #EC7979;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 39px;
}
.info .container .info__main .info__wraper .img__wrapper img {
  width: 60px;
  height: 60px;
}
.info .container .info__main .info__wraper h4 {
  padding: 33.5px 10px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  margin: 0 0 18px 0;
}
.info .container .info__main .info__wraper p {
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 0 10px;
}

@media (max-width: 1024px) {
  .info .container .info__header .awesome {
    padding: 31px 0 46px 0px;
    font-size: 24px;
    line-height: 28px;
    margin: 0 0 32px 0;
  }
  .info .container .info__header .awesome::after {
    content: "";
    width: 142px;
  }
  .info .container .info__header .header__text {
    font-size: 14px;
    line-height: 16px;
  }
  .info .container .info__main {
    margin: 66px 0;
  }
  .info .container .info__main:not(:last-child) {
    margin: 0 20px 0 0;
  }
  .info .container .info__main .info__wraper {
    width: 33%;
  }
  .info .container .info__main .info__wraper .img__wrapper {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 34px;
  }
  .info .container .info__main .info__wraper .img__wrapper img {
    width: 55px;
    height: 55px;
  }
  .info .container .info__main .info__wraper h4 {
    padding: 28.5px 10px;
    font-size: 18px;
    line-height: 25px;
    margin: 0 0 17px 0;
  }
  .info .container .info__main .info__wraper p {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 600px) {
  .info .container .info__header .awesome {
    padding: 35px 0px 50px 0;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 25px 0;
  }
  .info .container .info__header .awesome::after {
    content: "";
    width: 134px;
  }
  .info .container .info__header .header__text {
    text-align: center;
    font-family: "Raleway";
    font-size: 18px;
    line-height: 21px;
    margin: 0 0 50px 0;
  }
  .info .container .info__main {
    margin: 0;
    flex-direction: column;
  }
  .info .container .info__main:not(:last-child) {
    margin: 0px 0 10px 0;
  }
  .info .container .info__main .info__wraper {
    width: 100%;
  }
  .info .container .info__main .info__wraper .img__wrapper {
    margin: 50px auto 39px;
  }
  .info .container .info__main .info__wraper h4 {
    padding: 28.5px 0px;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
  }
  .info .container .info__main .info__wraper p {
    font-size: 14px;
    line-height: 16px;
    padding: 0;
  }
}
.prices {
  background: #F5F5F5;
  padding: 0px 0px 50px 0px;
}
.prices .container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 15px;
}
.prices .container .prices-section__titles {
  display: flex;
  flex-direction: column;
}
.prices .container .prices-section__titles h2 {
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding: 54px 0px;
}
.prices .container .prices-section__titles h2::after {
  content: "";
  position: absolute;
  width: 170px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background: #EC7979;
  transform: translate(-50%, 0);
}
.prices .container .prices-section__titles p {
  margin: 40px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878B;
}
.prices .container .prices-section__items {
  display: flex;
  flex: 1 1 250px;
  justify-content: space-between;
}
.prices .container .prices-section__items .prises-section__item {
  width: 32%;
}
.prices .container .prices-section__items .prises-section__item :hover {
  transform: translate(0px, -10px);
  box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
  transition: all 0.8s ease 0s;
}
.prices .container .prices-section__items .prises-section__item .item__property :hover {
  transform: translate(0px, 0px);
  box-shadow: none;
}
.prices .container .prices-section__items .prises-section__item .item__property .name-program {
  background: #333333;
  font-family: "Raleway";
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 60px;
  text-transform: capitalize;
}
.prices .container .prices-section__items .prises-section__item .item__property .price-program {
  background: #333333;
  font-family: "Raleway";
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 100px;
  border: 2px solid #F5F5F5;
  border-left: none;
  border-right: none;
}
.prices .container .prices-section__items .prises-section__item .item__property .description-program {
  background: #333333;
  font-family: "Raleway";
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.5);
}
.prices .container .prices-section__items .prises-section__item .item__property li {
  border-bottom: 1px solid #F5F5F5;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  text-transform: capitalize;
  color: #86878B;
  background: #ffffff;
}

@media (max-width: 1024px) {
  .prices .container .prices-section__titles h2 {
    font-size: 24px;
    line-height: 28px;
    padding: 46px 0px;
  }
  .prices .container .prices-section__titles h2::after {
    content: "";
    width: 143px;
    left: 50%;
    background: #EC7979;
  }
  .prices .container .prices-section__titles p {
    margin: 32px 0px;
    font-size: 14px;
    line-height: 16px;
  }
  .prices .container .prices-section__items .prises-section__item {
    max-width: 32%;
  }
  .prices .container .prices-section__items .prises-section__item .item__name {
    line-height: 53px;
  }
  .prices .container .prices-section__items .prises-section__item .item__price {
    line-height: 88.5px;
  }
  .prices .container .prices-section__items .prises-section__item .item__description {
    line-height: 44px;
  }
  .prices .container .prices-section__items .prises-section__item .item__property li {
    line-height: 44px;
  }
}
@media (max-width: 600px) {
  .prices .container .prices-section__titles h2 {
    font-size: 24px;
    line-height: 28px;
    padding: 45px 0px;
  }
  .prices .container .prices-section__titles h2::after {
    content: "";
    width: 134px;
  }
  .prices .container .prices-section__titles p {
    margin: 24px 0px;
    font-size: 14px;
    line-height: 16px;
  }
  .prices .container .prices-section__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .prices .container .prices-section__items .prises-section__item {
    min-width: 100%;
  }
  .prices .container .prices-section__items .prises-section__item:not(:last-child) {
    margin-bottom: 20px;
  }
  .prices .container .prices-section__items .prises-section__item :hover {
    transform: translate(0px, 0px);
    box-shadow: none;
  }
  .prices .container .prices-section__items .prises-section__item .item__name {
    font-size: 18px;
    line-height: 47px;
    text-transform: capitalize;
  }
  .prices .container .prices-section__items .prises-section__item .item__price {
    font-size: 24px;
    line-height: 78px;
    border: 2px solid #F5F5F5;
  }
  .prices .container .prices-section__items .prises-section__item .item__description {
    font-size: 14px;
    line-height: 39px;
  }
  .prices .container .prices-section__items .prises-section__item .item__property li {
    font-size: 14px;
    line-height: 39px;
  }
}
.saying .container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 15px;
}
.saying .container .saying__titles {
  display: flex;
  flex-direction: column;
}
.saying .container .saying__titles h2 {
  font-family: "Raleway";
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding: 32px 0px;
}
.saying .container .saying__titles h2::after {
  content: "";
  position: absolute;
  width: 134px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background: #EC7979;
  transform: translate(-50%, 0);
}
.saying .container .saying__titles p {
  margin: 24px 0px;
  font-family: "Raleway";
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #86878B;
}
.saying .container .slaider {
  position: relative;
}
.saying .container .slaider .slaider__item {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.saying .container .slaider .slaider__item .item__massage {
  width: 100%;
  background: #E2E2E2;
  border-radius: 10px;
  padding: 45px 10px;
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-family: "Raleway";
  text-align: center;
  color: #86878B;
}
.saying .container .slaider .slaider__item .item__massage::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 10%;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #E2E2E2;
}
.saying .container .slaider .slaider__item .item__person {
  width: 100%;
  margin: 66px 0 0 0;
  display: flex;
  align-items: start;
}
.saying .container .slaider .slaider__item .item__person .person__photo {
  max-width: 70px;
  width: 20%;
}
.saying .container .slaider .slaider__item .item__person .person__info {
  margin: 0 0 0 25px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.saying .container .slaider .slaider__item .item__person .person__info .info__name {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;
  text-align: left;
  color: #000000;
}
.saying .container .slaider .slaider__item .item__person .person__info .info__job {
  font-family: "Raleway";
  font-size: 13px;
  line-height: 15px;
  margin: 30px 0;
  text-align: left;
}
.saying .container .slaider .slick-list {
  overflow: hidden;
}
.saying .container .slaider .slick-track {
  display: flex;
}
.saying .container .slaider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.saying .container .slaider .slick-dots li {
  list-style-type: none;
  margin: 0 10px;
}
.saying .container .slaider .slick-dots li.slick-active button {
  background: #86878B;
}
.saying .container .slaider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #86878B;
}

@media (min-width: 600px) {
  .saying .container .saying__titles h2 {
    padding: 48px 0px;
  }
  .saying .container .saying__titles h2::after {
    content: "";
    width: 142px;
  }
  .saying .container .saying__titles p {
    margin: 32px 0px;
  }
  .saying .container .slaider .slaider__item:not(:last-child) {
    padding: 0 10px 0 0;
  }
  .saying .container .slaider .slaider__item .item__massage {
    padding: 50px 10px;
  }
  .saying .container .slaider .slaider__item .item__person .person__photo {
    max-width: 70px;
  }
  .saying .container .slaider .slaider__item .item__person .person__info .info__name {
    font-size: 18px;
    line-height: 25px;
  }
  .saying .container .slaider .slaider__item .item__person .person__info .info__job {
    font-size: 14px;
    line-height: 16px;
    margin: 10px 0;
  }
  .saying .container .slaider .slick-dots button {
    display: none;
  }
}
@media (min-width: 1024px) {
  .saying .container .saying__titles h2 {
    font-size: 36px;
    line-height: 42px;
    padding: 54px 0px;
  }
  .saying .container .saying__titles h2::after {
    content: "";
    width: 170px;
  }
  .saying .container .saying__titles p {
    font-size: 18px;
    line-height: 21px;
    margin: 40px 0px 80px 0;
  }
  .saying .container .slaider .slaider__item {
    margin: 0 0 40px 0;
  }
  .saying .container .slaider .slaider__item:not(:last-child) {
    padding: 0 15px 0 0;
  }
  .saying .container .slaider .slaider__item .item__massage {
    font-size: 18px;
    line-height: 21px;
    padding: 37px 10px;
  }
  .saying .container .slaider .slaider__item .item__person .person__info .info__name {
    font-size: 24px;
    line-height: 33px;
  }
  .saying .container .slaider .slaider__item .item__person .person__info .info__job {
    font-size: 18px;
    line-height: 21px;
    margin: 15px 0;
  }
  .saying .container .slaider .slick-dots button {
    display: none;
  }
}
.banner .wrapper {
  width: 100%;
  height: 100%;
  background: url(../img/desine/image.jpg) 0 0/100% auto no-repeat;
  position: relative;
}
.banner .wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.banner .wrapper .container {
  position: relative;
  z-index: 3;
  margin: 0px auto;
  max-width: 1200px;
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.banner .wrapper .container .design__titles {
  display: flex;
  flex-direction: column;
}
.banner .wrapper .container .design__titles h2 {
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  padding: 54px 0px;
  text-align: center;
}
.banner .wrapper .container .design__titles h2::after {
  content: "";
  position: absolute;
  width: 170px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background: #ffffff;
  transform: translate(-50%, 0);
}
.banner .wrapper .container .design__titles p {
  padding: 40px 0px 75px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  text-align: center;
}
.banner .wrapper .container .design__titles .design__download {
  margin: 0px auto 33px;
  max-width: 370px;
  min-width: 150px;
  height: 58px;
  width: 30%;
  border: 3px solid #ffffff;
  background: rgba(0, 0, 0, 0);
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .banner .wrapper .container .design__titles h2 {
    font-size: 24px;
    line-height: 28px;
    padding: 46px 0px;
  }
  .banner .wrapper .container .design__titles h2::after {
    content: "";
    width: 142px;
  }
  .banner .wrapper .container .design__titles p {
    padding: 32px 0px;
    font-size: 14px;
    line-height: 16px;
  }
  .banner .wrapper .container .design__titles .design__download {
    margin: 0px auto 35px;
  }
}
@media (max-width: 600px) {
  .banner .wrapper {
    background: url(../img/desine/image.jpg) 0 0/100% 100% no-repeat;
  }
  .banner .wrapper .container .design__titles h2 {
    font-size: 24px;
    line-height: 28px;
    padding: 46px 0px;
  }
  .banner .wrapper .container .design__titles h2::after {
    content: "";
    width: 120px;
  }
  .banner .wrapper .container .design__titles p {
    padding: 16px 0px;
    font-size: 14px;
    line-height: 16px;
  }
  .banner .wrapper .container .design__titles .design__download {
    height: 50px;
    width: 100%;
    margin: 43px auto;
  }
}
.contact .container {
  margin: 0px auto;
  max-width: 1200px;
  padding: 15px;
}
.contact .container .contact__titles {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.contact .container .contact__titles h2 {
  font-family: "Raleway";
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  padding: 54px 0px;
}
.contact .container .contact__titles h2::after {
  content: "";
  position: absolute;
  width: 170px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background: #EC7979;
  transform: translate(-50%, 0);
}
.contact .container .contact__titles p {
  padding: 40px 0px 90px 0px;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878B;
}
.contact .container .contact__form .form__content {
  display: flex;
}
.contact .container .contact__form .form__content .content__left {
  width: 50%;
}
.contact .container .contact__form .form__content .content__left input {
  margin: 0 0 50px 0;
  border-bottom: 1px solid #86878B;
  width: 90%;
  padding: 0 0 10px 0;
}
.contact .container .contact__form .form__content .content__right {
  width: 50%;
}
.contact .container .contact__form .form__content .content__right textarea {
  display: inline-block;
  width: 100%;
  height: 180px;
  resize: none;
  border-bottom: 1px solid #86878B;
  text-decoration: none;
  margin: 0 0 50px 0;
}
.contact .container .contact__form .buttom-invite {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 370px;
  min-width: 200px;
  width: 30%;
  height: 58px;
  cursor: pointer;
  background: #EC7979;
  margin: 0px auto 35px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
}

@media (max-width: 1024px) {
  .contact .container .contact__titles {
    padding: 35px 0;
  }
  .contact .container .contact__titles h2 {
    font-size: 24px;
    line-height: 28px;
    padding: 46px 0px;
  }
  .contact .container .contact__titles h2::after {
    content: "";
    position: absolute;
    width: 144px;
  }
  .contact .container .contact__titles p {
    padding: 32px 0px 72px 0px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 600px) {
  .contact .container .contact__titles {
    padding: 0;
  }
  .contact .container .contact__titles h2 {
    font-size: 24px;
    line-height: 28px;
    padding: 46px 0px;
  }
  .contact .container .contact__titles h2::after {
    content: "";
    width: 134px;
  }
  .contact .container .contact__titles p {
    padding: 24px 0px 64px 0px;
    font-size: 14px;
    line-height: 16px;
  }
  .contact .container .contact__form .form__content {
    flex-direction: column;
  }
  .contact .container .contact__form .form__content .content__left {
    width: 100%;
  }
  .contact .container .contact__form .form__content .content__right {
    width: 100%;
  }
  .contact .container .contact__form .buttom-invite {
    width: 100%;
  }
}
.footer {
  background: #000000;
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
.footer .container .social {
  display: flex;
  justify-content: space-around;
}
.footer .container .social .footer-social {
  margin: 20px 35px;
  max-width: 75px;
  width: 50%;
}
.footer .container .text-сopirating {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: "Raleway";
  font-size: 18px;
  line-height: 21px;
  padding: 5px 0 10px 0;
}

@media (max-width: 1024px) {
  .footer .container .social .footer-social {
    margin: 20px 27px;
  }
  .footer .container .text-сopirating {
    font-size: 14px;
    line-height: 16px;
    padding: 18px 0 15px 0;
  }
}
@media (max-width: 600px) {
  .footer .container .social .footer-social {
    margin: 20px 17px;
  }
  .footer .container .text-сopirating {
    padding: 25px 0 30px 0;
  }
}