.design {
    background: url(../img/desine/img2.jpg) 0 0/ 100% 100% no-repeat;
    padding: 0px 0px 50px 0px;
    .container {
        
        margin: 0px auto;
        max-width: 1200px;
        padding: 50px;
        

        .design__titles {
            display: flex;
            flex-direction: column;
            h2 {
                font-family: 'Raleway';
                font-size: 36px;
                line-height: 42px;
                text-align: center;
                text-transform: uppercase;
                color: #ffffff;
                position: relative;
                padding: 54px 0px;
                &::after {
                    content: '';
                    position: absolute;
                    width: 170px;
                    bottom: 0;
                    height: 1px;
                    left: 50%;
                    background:#ffffff;
                    margin: 0 0 0 -85px;
                }
            }

            p {
                margin: 40px 0px;
                font-family: 'Raleway';
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                color: #ffffff;
            }
            .design__download {
                margin-top: 33px;
                display: flex;
                justify-content: center;
                
                a {
                    display: inline-block;
                    width: 40%;
                    min-width: 100px;
                    max-width: 350px;
                    border: 3px solid #ffffff;
                    text-decoration: none;
                    color: #ffffff;
                    font-family: 'Open Sans';
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 58px;
                    text-transform: capitalize;
                    text-align: center;
                }
            }

        }
    }

}
@media (max-width: 600px) {
    .design {
        background: url(../img/desine/img2.jpg) 0 0/ auto 100% no-repeat;
        padding: 0px 15px 58px;
        .container {
            padding: 0px;

            .design__titles {
                display: flex;
                flex-direction: column;
                h2 {
                    font-size: 24px;
                    line-height: 28px;
                    padding: 46px 0px;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 120px;
                        bottom: 0;
                        height: 1px;
                        left: 50%;
                        background:#ffffff;
                        margin: 0 0 0 -60px;
                    }
                }
    
                p {
                    margin: 16px 0px;
                    font-family: 'Raleway';
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    color: #ffffff;
                }
                .design__download {
                    width: 100%;
                    margin-top: 33px;
                    display: flex;
                    justify-content: center;
                    
                    a {
                        display: inline-block;
                        width: 100%;
                        min-width: 100px;
                        max-width: 350px;
                        border: 3px solid #ffffff;
                        text-decoration: none;
                        color: #ffffff;
                        font-family: 'Open Sans';
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 58px;
                        text-transform: capitalize;
                        text-align: center;
                    }
                }
    
            }
        }
    
    }
}