.footer {
    background: #000000;
    .container {
        max-width: 1200px;
        margin: 0 auto;
        .social {
            display: flex;
            justify-content: center;
            width: 100%;
            .footer-social {
                margin: 25%;
                max-width: 75px;
                width: 50%;
                
                
                
            }
        }
    }
}


.text-сop {
    text-align: center;
    color: #ffffff;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 40px;
}

