.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    background: #000000;

    .container {
        padding: 15px;
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo {
            padding: 7px 0px;
            width: 88px;
        }
        
        .header__burger-menu {
            background: #fff;
            width: 45px;
            height: 45px;
        }
        
    
        .header__menu {
            min-width: 50%;
            display: flex;

            
            a {
                min-width: 100px;
                width: 20%;
                font-family: 'Open Sans';
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                text-align: center;
                text-transform: capitalize;
                color: #FFFFFF;
            }
        }     
    }
}







































// .header {
//     position: sticky;
//     background: #000;
//     width: 100%;
//     .container {
//         max-width: 1170px;
//         margin: 0 auto;
//         display: flex;
//         justify-content: space-between;
//         align-items: flex-start;
//     }
// }

// .header__logo {
//     margin: 0 0 0 15px;
//     display: flex;
//     align-items: center;
//     .logo-left {
//         color: #ffffff;
//         font-size: 40px;
//         line-height: 75px;
//     }
//     .logo-right {
//         color: #EC7979;
//         font-size: 40px;
//         line-height: 75px;
//     }
// }
// #burger, .vvv {
//     display: none;
// }
// .menu {
//     max-width: 570px;
//     .list {
//         display: flex;
//         justify-content: flex-end;
//         > li {
//             text-align: center;
//             width: 20%;
//             min-width: 100px;
//             >a {
//                 color: #ffffff;
//                 font-family: 'Open Sans';
//                 font-weight: 600;
//                 font-size: 14px;
//                 line-height: 75px;
//             }
//         }
//     }
// }

// @media (max-width: 600px) {
        
//     .header__logo {
//         position: absolute;
//         left: 0;
//     }

//     #burger, [for=burger]{
//         display: none;
//     }
//     .vvv {
//         width: 100%;
//         text-align: right;
//     }

//     .header__burger-menu {
//         width: 100%;
//         padding: 15px;
        
//         .menu {
//             width: 100%;
//             display: none;
            
//             .list {display: flex;
//                 flex-direction: column;
//                 align-items: center;
                
//                 background: #000;
                
//                 >li {
//                     >a {
//                         display: inline-block;
//                         font-size: 14px;
//                         font-weight: 600;
//                         line-height: 19px;
//                         padding: 15px 0 25px 0;
//                         color: #ffffff;
//                         font-family: 'Open Sans';
//                     }
                    
//                 }
//             }
//         }
//         [for=burger]{
//             display: inline-block;
//             font-size: 45px;
//             color: #ffffff;
            
//         }
//     }

//     #burger:checked + .vvv + .menu {
//         display: block;
//         .menu {

//         }
//         .list {display: flex;
//             flex-direction: column;
//             align-items: center;
//             > li {
//                 color: #ffffff;
//             }
//         } 
//     }
// }









    
