.saying {
        padding: 0px 0px 50px 0px;
    .container {
        margin: 0px auto;
        max-width: 1200px;
        padding: 15px;
        

        .saying__titles {
            display: flex;
            flex-direction: column;
            h2 {
                font-family: 'Raleway';
                font-size: 36px;
                line-height: 42px;
                text-align: center;
                text-transform: uppercase;
                color: #000000;
                position: relative;
                padding: 54px 0px;
                &::after {
                    content: '';
                    position: absolute;
                    width: 170px;
                    bottom: 0;
                    height: 1px;
                    left: 50%;
                    background:#EC7979;
                    margin: 0 0 0 -85px;
                }
            }

            p {
                margin: 40px 0px;
                font-family: 'Raleway';
                font-size: 18px;
                line-height: 21px;
                text-align: center;
                color: #86878B;
            }

        }
    }

}

.saying__message {
    display: flex;

    .box-info {
        width: 33.333%;
        padding: 15px;
        .message__text-box {

            p {
                
                display: inline-block;
                padding: 15px 37px;
                border-radius: 10px;
                background: #E2E2E2;
                font-family: 'Raleway';
                font-size: 18px;
                line-height: 21px;
                color: #86878B;
                text-align: center;
            }
            .triangle {
                margin: 0 20%;
                width: 10px;
                border: 20px solid transparent;
                order-top: 20px solid #E2E2E2;
            }
        }
        
        .message__person-info {
            padding: 45px 0;
            display: flex;
            .person-info__photo {
                width: 25%;
                img {
                    max-width: 70px;
                    width: 100%;

                }
            }
            .person-info__person-name {
                
                .name {
                    font-family: 'Open Sans';
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 33px;
                    text-transform: capitalize;
                }
                .job-title {
                    padding-top: 15px;
                    font-family: 'Raleway';
                    font-size: 18px;
                    line-height: 21px;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    
}







