
.section-tabs {
    .container {
        margin: 0 auto;
        max-width: 1200px;
        padding: 15px;

        .tabs {
            display: flex;
            flex-wrap: wrap;
            label {
                border-radius: 10px 10px 0 0;
                display: block;
                padding: 20px 5%;
                text-transform: uppercase;
                background: #fff;
                font-family: 'Open Sans';
                font-size: 14px;
                line-height: 19px;
            }
            .tab {
                order: 99;
                border: 1px solid #C6CBCD;
                width: 100%;
                display: none;
                padding: 1px 1px 1px 100px;
                background: #fff;
                .tab__body {
                    display: flex;
        
                    .body__info {
                        padding: 0 15px 15px 0;
                        h2 {
                            padding: 42px 0px;
                            
                            font-family: 'Open Sans';
                            font-weight: 700;
                            font-size: 30px;
                            line-height: 40px;
                            
                        }
                        p {
                            padding: 27px 0px;
                            font-family: 'Raleway';
                            font-size: 18px;
                            line-height: 21px;
                            align-items: center;
                        }
                        .button-download {
                            
                            p {
                                display: inline-block;
                                background: #EC7979;
                                font-family: 'Open Sans';
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 24px;
                                text-align: center;
                                text-transform: capitalize;
                                padding: 3% 12%;
        
                                color: #FFFFFF;
        
                            }
                        }
                    }
                    .body__photo {
                        width: 100%;
                            img {
                                max-width: 470px;
                                width: 100%;
                                
                            }
                    }
                }
            }
            input[type="radio"] {
                display: none;
            }
        
            input[type="radio"]:checked+label {
                background: #fff;
                border: 1px solid #C6CBCD;
                position: relative;
                bottom: -1px;
                border-bottom: none;
            }
        
            input[type="radio"]:checked+label+.tab {
                display: block;
            }
        }
    }
}

@media (max-width: 600px) {
    
    .section-tabs {
        .container {


            .tabs {

                label {


                    font-family: 'Open Sans';
                    font-size: 18px;
                    line-height: 25px;
                }
                .tab {
                    order: 99;
                    border: 1px solid #C6CBCD;
                    width: 100%;
                    display: none;
                    padding: 15px;
                    background: #fff;
                    .tab__body {
                        display: flex;
            
                        .body__info {
                            padding: 0 15px 15px 0;
                            h2 {
                                padding: 42px 0px;
                                text-align: center;
                                font-size: 18px;
                                line-height: 25px;
                                
                            }
                            p {
                                text-align: center;
                                padding: 27px 0px;
                                font-family: 'Raleway';
                                font-size: 18px;
                                line-height: 21px;
                                align-items: center;
                                
                            }
                            .button-download {
                                
                                p {
                                    display: inline-block;
                                    background: #EC7979;
                                    font-family: 'Open Sans';
                                    font-weight: 600;
                                    font-size: 18px;
                                    line-height: 24px;
                                    text-align: center;
                                    text-transform: capitalize;
                                    padding: 17px 100px;
                                    a {
                                        color: #fff;
                                    }
                                }
                            }
                        }
                        .body__photo {
                            
                            display: none;
                        }
                    }
                }
            }
        }
    }
}