.section-tabs {
    max-width: 1200px;
    margin: 0 auto;

    .container {
        max-width: 1170px;
        margin: 0 auto;
    }
}





.tabs {
    font-size: 0;

    > input[type="radio"] {
        display: none;   
    }

    input[type="radio"]:checked+label {
        border: 1px solid #e0e0e0;
        background-color: #fff;
        border-bottom: none;
    }

    .content {
        display: none;
        border: 1px solid #e0e0e0;
        font-size: 16px;
    }
    
    label {
        display: inline-block;
        text-align: center;  
        border-radius: 5px 5px 0px 0px;
        width: 15%;
        min-width: 60px;
        max-width: 200px;
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 40px;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
        cursor: pointer;
        position: relative;
        top: 1px;
    }
    label:not(:first-of-type) {
        border-left: none;
    }
    
.content {
    .box { 
        display: flex;
        flex-wrap: wrap;
        justify-content: stretch;

        .box__content {
            padding: 0px 10px;
            display: flex;
            flex-direction: column;
            flex: 1 1 300px;

            .title {

                > p {
                    max-width: 570px;
                    margin: 0 0 0 90px;
                    font-family: 'Open Sans';
                    font-weight: 500;
                    font-size: 30px;
                    line-height: 42px;
                    text-align: center;
                    padding: 41px 10px;
                }
            }

            .text {

                > p {
                    margin: 0 0 0 90px;
                    padding: 20px 0px;
                    font-family: 'Raleway';
                    font-size: 18px;
                    line-height: 21px;
                }
            }
            .button-download {
                margin: 0 0 20px 90px;
                width: 100%;
                display: flex;
                justify-content: left;
        
                > a {
                    width: 40%;
                    line-height: 50px;
                    border: 1px solid;
                    text-align: center;
                    background: #EC7979;
                    color: #ffffff;
                    text-decoration: none;
                    font-size: 18px;
                    font-weight: 600;
                    font-family: 'Open Sans';
                }
            }
        }

        .box__img {
            width: 40%;

            img {
                width: 100%;
                max-width: 470px;
            }
        }
    }
}
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
    display: block;
}

@media(max-width: 600px) {
    
    .box { 
        display: flex;
        flex-direction: column;
        
        .box__content {
            padding: 0px ;
            display: flex;
            flex-direction: column;
            flex: 1 1 300px;

            .title {

                > p {
                    max-width: 100%;
                    margin: 0;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    padding: 44px 40px;
                }
            }

            .text {

                >p {
                    text-align: center;
                    margin: 0;
                    padding: 29px 40px;
                    font-family: 'Raleway';
                    font-size: 18px;
                    line-height: 21px;
                }
            }

            .button-download {
                margin: 0;
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

        .box__img {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            img {
                display: none;
            }
        }
    }
}

