.section-tabs {
    .container {
        margin: 0 auto;
        max-width: 1200px;
        padding: 15px;

        .tabs {
            display: flex;
            flex-wrap: wrap;
            label {
                border-radius: 10px 10px 0 0;
                display: block;
                width: 15%;
                min-width: 80px;
                max-width: 300px;;
                text-align: center;
                text-transform: uppercase;
                background: #fff;
                font-family: 'Open Sans';
                font-size: 14px;
                line-height: 40px;
            }
            .tab {
                order: 99;
                border: 1px solid #cdc6ca;
                width: 100%;
                display: none;
                background: #fff;
                .tab__body {
                    display: flex;
        
                    .body__info {
                        h2 {
                            margin: 42px 30px 42px 100px;
                            font-family: 'Open Sans';
                            font-weight: 700;
                            font-size: 30px;
                            line-height: 40px;
                        }
                        p {
                            margin: 27px 30px 27px 100px;
                            font-family: 'Raleway';
                            font-size: 18px;
                            line-height: 21px;
                        }
                        .button-download {
                            margin: 0 30px 54px 100px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            max-width: 370px;
                            min-width: 200px;
                            width: 30%;
                            height: 58px;
                            cursor: pointer;
                            background: #EC7979;
                            color: #ffffff;
                            font-family: 'Open Sans';
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 25px;
                            text-transform: capitalize;
                        }
                    }
                    .body__photo {
                        min-width: 40%;
                        
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            input[type="radio"] {
                display: none;
            }
        
            input[type="radio"]:checked+label {
                background: #fff;
                border: 1px solid #C6CBCD;
                position: relative;
                bottom: -1px;
                border-bottom: none;
            }
        
            input[type="radio"]:checked+label+.tab {
                display: block;
            }
        }
    }
}


@media (max-width: 1024px) {
    .section-tabs {
        .container {
            .tabs {
                .tab {
                    .tab__body {
                        .body__info {
                            h2 {
                                margin: 28px 30px 28px 100px;
                                font-size: 24px;
                                line-height: 33px;
                            }
                            p {
                                margin: 38px 30px 38px 100px;
                                font-size: 14px;
                                line-height: 16px;
                            }
                            .button-download {
                                margin: 0 30px 50px 100px;
                            }
                        }                        
                    }
                }                
            }
        }
    }
}


@media (max-width: 600px) {
    .section-tabs {
        .container {
    
            .tabs {
                .tab {
                    order: 99;
                    border: 1px solid #cdc6ca;
                    width: 100%;
                    display: none;
                    background: #fff;
                    .tab__body {
                        display: flex;
            
                        .body__info {
                            h2 {
                                margin: 31px 25px;
                                font-size: 18px;
                                line-height: 25px;
                                text-align: center;
                            }
                            p {
                                margin: 29px 25px;
                                text-align: center;
                                font-size: 13px;
                                line-height: 15px;
                            }
                            .button-download {
                                margin: 30px auto;
                            }
                        }
                        .body__photo {
                            display: none;       
                        }
                    }
                }
            }
        }
    } 
}